@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/background.css" rel="stylesheet" />

<!-- Start Toptech Hero Area Style One-->

<div class="hero-area style-one d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="hero-content">
                    <h4>Welcome To Toptech </h4>
                    <h1>Empower Your Growth with a Proven SAP S/4HANA Partner </h1>
                    <h1>In The World </h1>
                    <p>
                        Your Trusted Partner for End-to-End SAP Consulting, Implementation, and Support — Customized for Your Industry.
                    </p>
                </div>
                <div class="hero-button style-one">
                    <a href="">How It Works </a>
                    <a class="button-two" href="#">IT Services <i class="flaticon flaticon-computer"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Toptech Hero Area Style One-->


<!-- Start Toptech Feature Area Style One-->

<div class="feature-area style-one">
    <div class="container">
        <div class="row margin-top">
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Real-Time Data Processing</h4>
                                <p>Provides up-to-date insights with instant reporting and analytics.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Real-Time Data Processing</h4>
                                <p>Provides up-to-date insights with instant reporting and analytics.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-2.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Cloud & Mobility</h4>
                                <p>Enables access from anywhere through SAP S/4HANA Cloud and mobile apps.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-2.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Cloud & Mobility</h4>
                                <p>Enables access from anywhere through SAP S/4HANA Cloud and mobile apps.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-3.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Enterprise Resource Planning (ERP)</h4>
                                <p>Integrates core business processes like finance, sales, procurement in one system.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-3.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Enterprise Resource Planning (ERP)</h4>
                                <p>Integrates core business processes like finance, sales, procurement in one system.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xl-3">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-4.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Security & Compliance</h4>
                                <p>Ensures data protection, access control, and regulatory compliance.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/feature-icon-4.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Security & Compliance</h4>
                                <p>Ensures data protection, access control, and regulatory compliance.</p>
                            </div>
                            <div class="flip-box-button">
                                <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Toptech Feature Area Style One-->


<!-- Start Toptech About Area Style One-->

<div class="about-area style-one">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-thumb">
                    <img src="assets/images/home-1/about-thumb.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-right">
                    <div class="section-title left style-one">
                        <h4>Proven Impact. Measurable Success.</h4>
                        <h1>Empowering Your Success with SAP Innovation</h1>
                        @* <h1>Services With <span>TopTech</span></h1> *@
                        <p>At Titan Technology, we deliver smart, scalable SAP solutions designed to streamline operations and drive business growth. Backed by deep industry expertise and technical excellence, our team supports clients at every stage — from implementation and rollout to migration and ongoing support. Through our subsidiary, we also build high-performance B2B e-commerce platforms, fully integrated with SAP, helping businesses expand, automate, and thrive in the digital marketplace</p>
                    </div>
                    <h5 class="mt-0 mb-10">
                        Numbers That Reflect Our SAP Expertise and Commitment to Excellence
                    </h5>
                    <div class="container">
                        <!-- First Row: 3 boxes -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-icon-box">
                                    <div class="about-icon-thumb" style="height: 100px;">
                                        <h3>150+</h3>
                                        <p>Satisfied Customers</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-icon-box">
                                    <div class="about-icon-thumb">
                                        <h3>350+</h3>
                                        <p>Team</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="about-icon-box">
                                    <div class="about-icon-thumb">
                                        <h3>6+</h3>
                                        <p>Vertical Served</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Second Row: 2 boxes -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="about-icon-box">
                                    <div class="about-icon-thumb" style="height: 100px;">
                                        <h3>250+</h3>
                                        <p>Certified Consultant</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about-icon-box">
                                    <div class="about-icon-thumb" style="height: 100px;">
                                        <h3>14+</h3>
                                        <p>Years of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* <div class="about-icon-box">
                        <div class="about-icon-thumb">
                            <img src="assets/images/home-1/about-icon1.png" alt="">
                        </div>
                        <div class="about-icon-box-content">
                            <h4>Certified Company</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin lorem awesome.</p>
                        </div>
                    </div>
                    <div class="about-icon-box">
                        <div class="about-icon-thumb">
                            <img src="assets/images/home-1/about-icon2.png" alt="">
                        </div>
                        <div class="about-icon-box-content">
                            <h4>Internal Networking</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin lorem awesome.</p>
                        </div>
                    </div> *@
                    <div class="about-flex-box">
                        <div class="toptech-button style-one">
                            <a href="about-1.html">About More<i class="bi bi-arrow-right-circle-fill"></i></a>
                        </div>
                        @* <div class="about-author">
                            <div class="about-author-thumb">
                                <img src="assets/images/home-1/about-author.jpg" alt="">
                            </div>
                            <div class="about-author-content">
                                <h4>Kevin Martin</h4>
                                <p>CEO & Founder</p>
                            </div>
                        </div> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="about-shape">
            <img src="assets/images/home-1/about-shape.jpg" alt="">
        </div>
    </div>
</div>

<!-- End Toptech About Area Style One-->


<!-- Start Toptech Service Area Style One-->

<div class="service-area style-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title center style-one">
                    <h4>Service We Provide </h4>
                    <h1>All Professional We’re Offering Best &amp;</h1>
                    <h1>IT Solutions & <span>Services</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon1.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Implementation</h4>
                                <p>We offer end-to-end SAP implementation services tailored to align with your business objectives and industry demands.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon1.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Implementation</h4>
                                <p>We offer end-to-end SAP implementation services tailored to align with your business objectives and industry demands.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon2.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Rollout</h4>
                                <p>Our SAP rollout services enable multinational enterprises to standardize operations across regions while addressing local compliance needs. </p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon2.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Rollout</h4>
                                <p>Our SAP rollout services enable multinational enterprises to standardize operations across regions while addressing local compliance needs. </p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon3.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Migration</h4>
                                <p>Modernize your enterprise with our secure, low-disruption SAP migration services.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon3.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Migration</h4>
                                <p>Modernize your enterprise with our secure, low-disruption SAP migration services.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon4.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Staffing</h4>
                                <p>Accelerate your SAP initiatives with access to a curated network of SAP-certified professionals.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon4.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP Staffing</h4>
                                <p>Accelerate your SAP initiatives with access to a curated network of SAP-certified professionals.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon5.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP AMS</h4>
                                <p>Our SAP AMS delivers proactive, SLA-driven support to ensure high system availability, performance, and continuous improvement.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon5.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>SAP AMS</h4>
                                <p>Our SAP AMS delivers proactive, SLA-driven support to ensure high system availability, performance, and continuous improvement.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>B2B E-commerce</h4>
                                <p>B2B E-commerce refers to online platforms where businesses sell products or services directly to other businesses.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>B2B E-commerce</h4>
                                <p>Proin Pulvinar Eu Sem Eu Vehicula and, Integer Urna Libero, Semper mes.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Custom AI/ML</h4>
                                <p>Tailored artificial intelligence and machine learning solutions designed to meet specific business needs, such as predictive analytics, automation, and intelligent decision-making.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>Custom AI/ML</h4>
                                <p>Tailored artificial intelligence and machine learning solutions designed to meet specific business needs, such as predictive analytics, automation, and intelligent decision-making.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>EXIM</h4>
                                <p>Solutions to manage and streamline international trade operations, including documentation, compliance, logistics, and customs processes.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>EXIM</h4>
                                <p>Solutions to manage and streamline international trade operations, including documentation, compliance, logistics, and customs processes.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xl-4">
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>E-Invoicing</h4>
                                <p>Digital invoicing system that automates invoice generation, submission, and tracking, ensuring compliance with government regulations and faster payments.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="flip-box-back">
                            <div class="flip-box-thumb">
                                <img src="assets/images/home-1/service-icon6.png" alt="">
                            </div>
                            <div class="flip-box-content">
                                <h4>E-Invoicing</h4>
                                <p>Digital invoicing system that automates invoice generation, submission, and tracking, ensuring compliance with government regulations and faster payments.</p>
                                <div class="flip-box-button">
                                    <a href="service.html">Read More<i class="fa-solid fa-angles-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Toptech Service Area Style One-->
<!--==================================================-->
<!-- Start Toptech Testimonial Area Style One-->
<!--==================================================-->
<div class="testimonial-area style-one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title center style-one">
                    <h4>Testimonial</h4>
                    <h1>Customer’s Awesome Feedback</h1>
                    <h1>About Our Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testi-list-1 owl-carousel">
                <div class="col-lg-12 text-center">
                    <div class="single-testimonial-box">
                        <div class="testi-desc">
                            <p>
                                Partnering with Titan Technology for our SAP rollout was one of the best decisions we've made. 
                                Their team understood our operations inside out and delivered a solution that fits us perfectly. 
                                The implementation was smooth, on time, and backed by solid post-go-live support. 
                                We now have better visibility and control across our entire supply chain."
                            </p>
                        </div>
                        <div class="testi-rating">
                            <ul>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                        <div class="testi-author">
                            <h4>Narinder Sagar</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="single-testimonial-box">
                        <div class="testi-desc">
                            <p>
                                The migration from ECC to S/4HANA felt daunting, but Titan Technology made it seamless. 
                                Their technical team was proactive, transparent, and incredibly responsive.
                                Not only did they ensure minimal disruption, but they also helped us unlock new capabilities in the system.
                                We’re now faster, smarter, and more agile than ever.
                            </p>
                        </div>
                        <div class="testi-rating">
                            <ul>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                        <div class="testi-author">
                            <h4>Sudhanshu Goda</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="single-testimonial-box">
                        <div class="testi-desc">
                            <p>
                                Choosing Titan Technology for our SAP support and merger project was a game-changer. 
                                Their team quickly grasped our operations and delivered a solution that fit perfectly. 
                                The implementation was smooth, on time, and backed by strong post-go-live support. 
                                We now have better visibility, efficiency, and control across our supply chai
                            </p>
                        </div>
                        <div class="testi-rating">
                            <ul>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                        <div class="testi-author">
                            <h4>
                                Sanjay Kansagra
                            </h4>
                            <p> CIO of Havmor (A Subsidiary of Lotte Wellfood, South Korea)</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <div class="single-testimonial-box">
                        <div class="testi-desc">
                            <p>
                                Choosing Titan Technology for our SAP support project was a key decision for BVC.
                                Their team was proactive, transparent, and highly responsive, ensuring our SAP systems ran smoothly with minimal disruptions. 
                                They not only resolved issues quickly but also optimized our processes, helping us operate faster, smarter, and more efficiently than ever before
                            </p>
                        </div>
                        <div class="testi-rating">
                            <ul>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                            </ul>
                        </div>
                        <div class="testi-author">
                            <h4>
                                Keyur Thakkar
                            </h4>
                            <p>CIO of BVC (A Wipro Subsidiary)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==================================================-->
<!-- End Toptech Testimonial Area Style One-->
<!--==================================================-->
