<!-- Start Toptech Footer Area Style One-->

<div class="footer-area style-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="footer-logo">
					<a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
				</div>
				<div class="footer-widget-desc">
					<p>
						Monotonectally synergize granular top
						visualize strategic infomediaries afters
						task state of the art infrastructures
						digital agency in north
					</p>
				</div>
				<div class="toptech-button inner-style">
					<a href="#">Discover More<i class="bi bi-arrow-right-short"></i></a>
				</div>
			</div>
			<div class="col-lg-2 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Company</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><a href="about-1.html"><i class="bi bi-arrow-right-circle"></i>About</a></li>
							<li><a href="team.html"><i class="bi bi-arrow-right-circle"></i>Our Team</a></li>
							<li><a href="pricing.html"><i class="bi bi-arrow-right-circle"></i>Pricing Plan</a></li>
							<li><a href="blog-grid.html"><i class="bi bi-arrow-right-circle"></i>Latest Blog</a></li>
							<li><a href="careers.html"><i class="bi bi-arrow-right-circle"></i>Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Our Services</h4>
					</div>
					<div class="footer-widget-menu">
						<ul>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>IT Solutions</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Cyber Security</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Digital Marketing</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>Brand Identity</a></li>
							<li><a href="#"><i class="bi bi-arrow-right-circle"></i>SEO Marketing</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-widget-content">
					<div class="footer-widget-title">
						<h4>Newsletter</h4>
					</div>
					<p class="f-desc-2">Subscribe our Latest Newsletter</p>
					<form action="#">
						<div class="footer-newslatter-box">
							<input type="text" name="Email" placeholder="Enter Your E-Mail" required>
							<button type="submit">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="footer-bottom-area">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="footer-bottom-content">
							<p>© 2024 Toptech. Designed By Dream IT Solution</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="footer-botton-social-icon">
							<ul>
								<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
								<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End Toptech Footer Area Style One-->