<!DOCTYPE HTML>
<html lang="en-US">

   @{
        var userRole = Context.Request.Cookies["UserRole"];
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toptech - IT-Solution HTML5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/assets/images/fav-icon/icon.png">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" media="all">
    <!-- carousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css" type="text/css" media="all">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" media="all">
    <!-- animated-text CSS -->
    <link rel="stylesheet" href="~/assets/css/animated-text.css" type="text/css" media="all">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/all.min.css" type="text/css" media="all">
    <!-- theme-default CSS -->
    <link rel="stylesheet" href="~/assets/css/theme-default.css" type="text/css" media="all">
    <!-- meanmenu CSS -->
    <link rel="stylesheet" href="~/assets/css/meanmenu.min.css" type="text/css" media="all">
    <!-- transitions CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.transitions.css" type="text/css" media="all">
    <!-- venobox CSS -->
    <link rel="stylesheet" href="~/venobox/venobox.css" type="text/css" media="all">
    <!-- bootstrap icons -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.css" type="text/css" media="all">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" media="all">
    <!-- responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css" media="all">
    <!-- Coustom Animation CSS -->
    <link rel="stylesheet" href="~/assets/css/coustom-animation.css" type="text/css" media="all">
    <!-- modernizr js -->
    <script src="assets/js/vendor/modernizr-3.5.0.min.js"></script>
</head>

<body>

    @* <!-- loder -->
	<div class="loader-wrapper">
		<span class="loader"></span>
		<div class="loder-section left-section"></div>
		<div class="loder-section right-section"></div>
	</div> *@

    @if (userRole == "Admin")
    {
        <!-- Start Toptech Header Area -->

        <div class="header-area" id="sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/images/logo-1.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="header-menu">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a asp-action="Index" asp-controller="Admin">Home</a>
                                </li>
                               
                                <li class="menu-item-has-children">
                                    <a href="#">Masters<i class="fas fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a asp-action="Index" asp-controller="Company">Company</a></li>
                                        <li><a href="mission.html">Vendor </a></li>
                                        <li><a href="team.html">Employee</a></li>
                                        <li><a href="team-details.html">Customer </a></li>
                                        <li><a asp-action="Index" asp-controller="ProjectMaster">Project</a></li>
                                    </ul>
                                </li>
                                
                            </ul>
                           
                            <div class="header-button">
                                <a asp-action="" asp-controller="">Welcome,Admin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Toptech Header Area Style One-->
        <!-- Start Main Menu Area -->
        <div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
            <div class="mobile-menu">
                <nav class="header-menu">
                    <ul class="nav_scroll">
                        <li class="menu-item-has-children">
                            <a href="#">Home</a>                           
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">Masters<i class="fas fa-chevron-down"></i></a>
                            <ul class="sub-menu">
                                <li><a asp-action="Index" asp-controller="Company">Company</a></li>
                                <li><a href="mission.html">Vendor </a></li>
                                <li><a href="team.html">Employee</a></li>
                                <li><a href="team-details.html">Customer </a></li>
                                <li><a asp-action="Index" asp-controller="ProjectMaster">Project</a></li>
                            </ul>
                        </li>
                     
                    </ul>
                </nav>
            </div>
        </div>
       

        <!-- End Main Menu Area -->
        
    }
    else
    {
        <!-- Start Toptech Header Area -->

        <div class="header-area" id="sticky-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="header-logo">
                            <a href="index.html"><img src="assets/images/logo-1.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="header-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>

                                <li>
                                    <a href="#">Services</a>
                                </li>
                                <li>
                                    <a href="#">Solutions</a>
                                </li>
                                <li>
                                    <a href="#">About us</a>
                                </li>

                                <li><a href="contact.html">Contact us</a></li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                            </ul>
                            <div class="header-search-icon search-box-outer">
                                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </div>
                            <div class="header-button">
                                <a asp-action="Login" asp-controller="Auth">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Toptech Header Area Style One-->
        <!-- Start Main Menu Area -->

       
        <div class="mobile-menu-area sticky d-sm-block d-md-block d-lg-none ">
            <div class="mobile-menu">
                <nav class="header-menu">
                    <ul class="nav_scroll">
                        <li>
                            <a href="#">Home</a>
                        </li>

                        <li>
                            <a href="#">Services</a>
                        </li>
                        <li>
                            <a href="#">Solutions</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>

                        <li><a href="contact.html">Contact us</a></li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- End Main Menu Area -->
    }
    <div>
        @* <main role="main" class="pb-3"> *@
        @RenderBody()
        @* </main> *@
    </div>




    <!-- Start Toptech Footer Area Style One-->

    <div class="footer-area style-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-logo">
                        <a href="index.html"><img src="assets/images/logo-2.png" alt=""></a>
                    </div>
                    <div class="footer-widget-desc">
                        <p>
                            Monotonectally synergize granular top
                            visualize strategic infomediaries afters
                            task state of the art infrastructures
                            digital agency in north
                        </p>
                    </div>
                    <div class="toptech-button inner-style">
                        <a href="#">Discover More<i class="bi bi-arrow-right-short"></i></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-widget-content">
                        <div class="footer-widget-title">
                            <h4>Company</h4>
                        </div>
                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="about-1.html"><i class="bi bi-arrow-right-circle"></i>About</a></li>
                                <li><a href="team.html"><i class="bi bi-arrow-right-circle"></i>Our Team</a></li>
                                <li><a href="pricing.html"><i class="bi bi-arrow-right-circle"></i>Pricing Plan</a></li>
                                <li><a href="blog-grid.html"><i class="bi bi-arrow-right-circle"></i>Latest Blog</a></li>
                                <li><a href="careers.html"><i class="bi bi-arrow-right-circle"></i>Careers</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget-content">
                        <div class="footer-widget-title">
                            <h4>Our Services</h4>
                        </div>
                        <div class="footer-widget-menu">
                            <ul>
                                <li><a href="#"><i class="bi bi-arrow-right-circle"></i>IT Solutions</a></li>
                                <li><a href="#"><i class="bi bi-arrow-right-circle"></i>Cyber Security</a></li>
                                <li><a href="#"><i class="bi bi-arrow-right-circle"></i>Digital Marketing</a></li>
                                <li><a href="#"><i class="bi bi-arrow-right-circle"></i>Brand Identity</a></li>
                                <li><a href="#"><i class="bi bi-arrow-right-circle"></i>SEO Marketing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget-content">
                        <div class="footer-widget-title">
                            <h4>Newsletter</h4>
                        </div>
                        <p class="f-desc-2">Subscribe our Latest Newsletter</p>
                        <form action="#">
                            <div class="footer-newslatter-box">
                                <input type="text" name="Email" placeholder="Enter Your E-Mail" required>
                                <button type="submit">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="footer-bottom-area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-bottom-content">
                                <p>© 2024 Toptech. Designed By Dream IT Solution</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="footer-botton-social-icon">
                                <ul>
                                    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- End Toptech Footer Area Style One-->
    <!-- jquery js -->
    <script src="~/assets/js/vendor/jquery-3.6.2.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- carousel js -->
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <!-- animated-text js -->
    <script src="~/assets/js/animated-text.js"></script>
    <!-- wow js -->
    <script src="~/assets/js/wow.js"></script>
    <!-- ajax-mail js -->
    <script src="~/assets/js/ajax-mail.js"></script>
    <!-- imagesloaded js -->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- venobox js -->
    <script src="~/venobox/venobox.js"></script>
    <!--  animated-text js -->
    <script src="~/assets/js/animated-text.js"></script>
    <!-- venobox min js -->
    <script src="~/venobox/venobox.min.js"></script>
    <!-- jquery meanmenu js -->
    <script src="~/assets/js/jquery.meanmenu.js"></script>
    <!-- theme js -->
    <script src="~/assets/js/theme.js"></script>
    <!-- Cousom carousel js -->
    <script src="~/assets/js/coustom-carousel.js"></script>
    <script src="~/assets/js/scroll-up.js"></script>

</body>
</html>